@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
body{
    margin: 0 auto;
    font-family:'Roboto', sans-serif;
    background: #151d54;
}
 
/*header*/
.container-header{
    background: #FFA3B8;
    background-image: url("/img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
    background-blend-mode: multiply;
    text-align: center;
    height: 690px;
    color:floralwhite;
}

/*div conteudo*/
.container-header .conteudo{
    padding: 238px;
}

/*conteudo do botão*/
.container-header .conteudo a{
    background: #870441;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
}

/*Paragrafo do Header*/
.container-header p{
    font-size: 30px;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
}

/*dvi sobre mim*/

.sobre-mim{
    padding: 100px
}

/*conteudo sobre mim*/

.sobre-mim .conteudo-sobre-mim{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    
}

.sobre-mim h2{
    font-size: 50px;
    color: #870441;
}

.sobre-mim .resumo{
    width: 50%;
    padding: 10px;
    color: #fff;
}

.sobre-mim .resumo p{
    color: #fff;
    line-height: 180%;
    text-indent: 40px;
    text-align: justify;
}

.sobre-mim .resumo div{
    margin: 45px 0;
}

.sobre-mim .resumo  a{
    background: #870441;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
}

.sobre-mim h2{
    color: #870441;
}

.sobre-mim .habilidades h3{
    color:#870441;
}

.sobre-mim .habilidades{
    width: 50%;
    margin: 0 100px;
    color: #fff;
    font-size: 20px;
}



.sobre-mim .habilidades ul{
    list-style-position: inside;
    padding: 0;
}

.sobre-mim .habilidades ul li{
    list-style-position: inside;
    margin-bottom: 5px;
    
}

.sobre-mim .habilidades span{
    font-weight: normal;
    font-size: 14px;
}

.sobre-mim .habilidades ul li ul{
    list-style-type: none;
    list-style-position: inside;
    margin-left: 40px;
}

.rodape{
   padding: 0 100px;
}

.rodape-conteudo{
    display:flex;
    flex-direction:row;
    justify-content: center;
    padding: 50px;
}

.rodape .rodape-conteudo .item{
    background: #870441;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    padding: 20px 50px;
    align-items: center;
    width: 250px;
    border-radius: 14px;
}

.rodape .rodape-conteudo .item a{
    text-decoration: none;
    color: #fff;
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.rodape .rodape-conteudo .item span{
    color: #fff;
    font-size: 16px;
}
    


